{% extends "frontend/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<div class="text-center my-4">
    <h2 class="text-white">贷款信息</h2>
    <p class="text-white">
        身份证号码：{{ loan_user.id }}，客户名：{{ loan_user.name }}，电话：{{ loan_user.tel }}，
        家庭住址：{{ loan_user.address }}，账户数量：{{ loan_user.counts }}
    </p>
</div>
{% endblock page_header %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for loan in loans %}
        <div class="col-md-6 mb-4">
            <div class="card bg-dark text-white">
                <h4 class="card-header">
                    <a class="text-white">贷款号：{{ loan.loan_id }}</a>
                    <span class="text-muted" style="float: right;">
                        <a href="{% url 'loans:delete_loan' loan.loan_id %}" class="btn btn-outline-danger">删除贷款</a>
                    </span>
                </h4>
                <div class="card-body">
                    <p class="card-text">申请人：{{ loan.user.name }}</p>
                    <p class="card-text">贷款金额：{{ loan.money|floatformat:2 }}</p>
                    <p class="card-text">批准银行：{{ loan.branch.name }}</p>
                    <p class="card-text">申请时间：{{ loan.loan_date|date:'Y-m-d, H:i' }}</p>
                    <p class="card-text">还款期限：{{ loan.due_date|date:'Y-m-d, H:i' }}</p>
                    <p class="card-text">未还金额：{{ loan.remain_money|floatformat:2 }}</p>
                    <p class="card-text">贷款状态：{{ loan.status }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'loans:pay_loan' loan.loan_id %}" class="btn btn-outline-light">还款</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="pagination justify-content-center mt-4">
    <ul class="pagination">
        {% if loans.has_previous %}
        <li class="page-item">
            <a href="?page=1" class="page-link">&laquo; 第一页</a>
        </li>
        <li class="page-item">
            <a href="?page={{ loans.previous_page_number }}" class="page-link">{{ loans.previous_page_number }}</a>
        </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">{{ loans.number }}</span>
        </li>

        {% if loans.has_next %}
        <li class="page-item">
            <a href="?page={{ loans.next_page_number }}" class="page-link">{{ loans.next_page_number }}</a>
        </li>
        <li class="page-item">
            <a href="?page={{ loans.paginator.num_pages }}" class="page-link">最后一页 &raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock content %}
