{% extends "frontend/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <div class="text-center my-4">
    <h2 class="text-white">创建一个新的账单</h2>
  </div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" action="{% url 'bills:create_bill' account.account_id %}" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button name="submit" class="btn btn-outline-light btn-block">创建</button>
                {% endbuttons %}
                <input type="hidden" name="next" value="{% url 'accounts:accounts' user.id %}">
            </form>
        </div>
    </div>
</div>
{% endblock content %}
