{% extends "frontend/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <div class="text-center my-4">
    <h2 class="text-white">转账给其他账户</h2>
  </div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" action="{% url 'accounts:transfer' account.account_id %}" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="text-center">
                    <button type="submit" name="submit" class="btn btn-outline-light">转账</button>
                </div>
                <input type="hidden" name="next" value="{% url 'accounts:accounts' user.id %}">
            </form>
        </div>
    </div>
</div>
{% endblock content %}
