{% extends "frontend/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<div class="text-center my-4">
    <h2 class="text-white">修改个人信息</h2>
</div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">修改个人信息</div>
                <div class="card-body">
                    <form method="post" action="{% url 'users:edit' user_id %}" class="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                        <button name="submit" class="btn btn-outline-light">确认修改</button>
                        {% endbuttons %}
                        <input type="hidden" name="next" value="{% url 'accounts:accounts' user_id %}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
