{% extends "frontend/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<div class="text-center my-4">
    <h2 class="text-white">员工信息</h2>
</div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row">
        {% for staff in staffs %}
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="media">
                        {% if staff.photo %}
                        <img src="{{ staff.photo.url }}" class="mr-3" style="width: 150px; height: auto;">
                        {% endif %}
                        <div class="media-body">
                            <p class="card-text">姓名: {{ staff.name }}</p>
                            <p class="card-text">部门: {{ staff.department }}</p>
                            <p class="card-text">工号: {{ staff.staff_id }}</p>
                            <p class="card-text">电话: {{ staff.tel }}</p>
                            <p class="card-text">地址: {{ staff.address }}</p>
                        </div>
                    </div>
                </div>
                {% if user.is_superuser %}
                <div class="card-footer text-muted">
                    <a href="{% url 'staffs:set_manager' staff.staff_id staff.department.department_id %}" class="btn btn-outline-light">设置经理</a>
                    <a href="{% url 'staffs:edit_staff' staff.staff_id %}" class="btn btn-outline-light">修改信息</a>
                    <a href="{% url 'staffs:delete_staff' staff.staff_id %}" class="btn btn-outline-light">删除员工</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="pagination justify-content-center">
    <ul class="pagination">
        {% if staffs.has_previous %}
        <li class="page-item">
            <a href="?page=1" class="page-link">&laquo; 1</a>
        </li>
        <li class="page-item">
            <a href="?page={{ staffs.previous_page_number }}" class="page-link">{{ staffs.previous_page_number }}</a>
        </li>
        {% endif %}
        <li class="page-item active">
            <span class="page-link">{{ staffs.number }}</span>
        </li>
        {% if staffs.has_next %}
        <li class="page-item">
            <a href="?page={{ staffs.next_page_number }}" class="page-link">{{ staffs.next_page_number }}</a>
        </li>
        <li class="page-item">
            <a href="?page={{ staffs.paginator.num_pages }}" class="page-link">{{ staffs.paginator.num_pages }} &raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock content %}

